.backgroundPopup {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 1;
}

.popupContact {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: auto;
	min-height: 100px;
	width: 720px;
	background: #FFFFFF;
	z-index: 2;
	padding: 12px;
	font-size: 13px;
	border: 4px solid #93969C; 
	border-radius: 10px 10px 10px 10px; 
	box-shadow: 0 0 4px 3px #D1D3D4;
}

.popupContact h1 {
	text-align: left;
	color: #6FA5FD;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px dotted #D3D3D3;
	padding-bottom: 2px;
	margin-bottom: 20px;
}

.popupContact h3{
	margin-bottom: 0.5em;
}

.popupContact #popUpMessageButtonsDiv{
	margin: 1.8em 0 0 0; /*Trying to match the button margin enforced by SBAC*/
	text-align: center;
	position: static !important;
}
.popupContact #popUpMessageButtonsDiv button{
	margin-right: 1em;
	padding: 6px;
}

.popupContact div{
	margin: 1em 0;
	text-align: center;
}

.popupContactClose {
	font-size: 14px;
	line-height: 14px;
	right: 6px;
	top: 4px;
	position: absolute;
	color: #6fa5fd;
	font-weight: 700;
	display: block;
}

#button {
	text-align: center;
	margin: 100px;
}

.popupContact a {
	cursor: pointer;
	text-decoration: none;
}